body{
background-color: rgb(136, 176, 97);
}
ul{
    display: inline;
    font-family: helvetica neue, roboto;
}
h2{
    color: rgb(176, 130, 114);
    background-color: aqua;
}
h3{
    color: floralwhite;
    background-color: black;
}
h4{
    color: darkkhaki;
    background-color: green;
}

